<%= title(@project.name, "Projects") %>

<p>
  <strong>Name: </strong><%= @project.name %><br />
  <strong>Descripcion: </strong><%= @project.description %>
</p>

<%= link_to "Edit project", edit_project_path(@project) %>